{
    "name" : "Fix Althea",
    "host" : "192.168.10.1",
    "port" : 22,
    "user" : "root",
    "password" : "testpass",
    "commands" : [ {
        "name" : "Update router",
        "sudo" : false,
        "cmd" : "ash /etc/update.ash",
        "confirm" : false
    }, {
        "name" : "Reflash router",
        "sudo" : false,
        "cmd" : "some script that figures this shit out"
    } ]
}