{
    "name" : "Pre-Release Firmwares",
    "host" : "192.168.10.1",
    "port" : 22,
    "user" : "root",
    "commands" : [
     {
        "name" : "Reflash glb1300 Beta 10 RC4",
        "sudo" : false,
        "cmd" : "[GLB1300-PRERELEASE-FIRMWARE-UPGRADE]",
        "confirm" : true,
        "description" : "Uploads the glb1300 firmware and reflashes, removing all data. You must be connected to WiFi with airplane mode on"
     },
     {
        "name" : "Reflash glb1300 Beta 10 RC4 - keep keys",
        "sudo" : false,
        "cmd" : "[GLB1300-PRERELEASE-FIRMWARE-UPGRADE-PRESERVE]",
        "confirm" : true,
        "description" : "Uploads the glb1300 firmware and reflashes, preserving user settings. You must be connected to WiFi with airplane mode on"
     }
    ]
}
