{
    "name" : "Router Reboot",
    "host" : "192.168.10.1",
    "port" : 22,
    "user" : "root",
    "commands" : [
     {
        "name" : "Reboot router",
        "sudo" : false,
        "cmd" : "reboot",
        "confirm" : true,
        "description" : "Reboots the router. You must be connected to WiFi with airplane mode on"
     }
    ]
}
