{
    "name" : "Stable Firmwares",
    "host" : "192.168.10.1",
    "port" : 22,
    "user" : "root",
    "commands" : [
     {
        "name" : "Reflash n750 Beta 14 RC 5",
        "sudo" : false,
        "cmd" : "[N750-FIRMWARE-UPGRADE]",
        "confirm" : true,
        "description" : "Uploads the n750 firmware and reflashes, removing all data. You must be connected to WiFi"
     },
     {
        "name" : "Reflash ea6350 Beta 14 RC 5",
        "sudo" : false,
        "cmd" : "[EA6350-FIRMWARE-UPGRADE]",
        "confirm" : true,
        "description" : "Uploads the ea6350 firmware and reflashes, removing all data. You must be connected to WiFi"
     },
     {
        "name" : "Reflash glb1300 Beta 14 RC 5",
        "sudo" : false,
        "cmd" : "[GLB1300-FIRMWARE-UPGRADE]",
        "confirm" : true,
        "description" : "Uploads the glb1300 firmware and reflashes, removing all data. You must be connected to WiFi"
     },
     {
        "name" : "Reflash wrt3200acm Beta 14 RC 5",
        "sudo" : false,
        "cmd" : "[WRT3200ACM-FIRMWARE-UPGRADE]",
        "confirm" : true,
        "description" : "Uploads the wrt3200acm firmware and reflashes, removing all data. You must be connected to WiFi"
     },
     {
        "name" : "Reflash wrt32x Beta 14 RC 5",
        "sudo" : false,
        "cmd" : "[WRT32X-FIRMWARE-UPGRADE]",
        "confirm" : true,
        "description" : "Uploads the wrt32x firmware and reflashes, removing all data. You must be connected to WiFi"
     },
     {
        "name" : "Reflash n750 Beta 14 RC 5 - keep keys",
        "sudo" : false,
        "cmd" : "[N750-FIRMWARE-UPGRADE-PRESERVE]",
        "confirm" : true,
        "description" : "Uploads the n750 firmware and reflashes, preserving user settings. You must be connected to WiFi"
     },
     {
        "name" : "Reflash ea6350 Beta 14 RC 5 - keep keys",
        "sudo" : false,
        "cmd" : "[EA6350-FIRMWARE-UPGRADE-PRESERVE]",
        "confirm" : true,
        "description" : "Uploads the ea6350 firmware and reflashes, preserving user settings. You must be connected to WiFi"
     },
     {
        "name" : "Reflash glb1300 Beta 14 RC 5 - keep keys",
        "sudo" : false,
        "cmd" : "[GLB1300-FIRMWARE-UPGRADE-PRESERVE]",
        "confirm" : true,
        "description" : "Uploads the glb1300 firmware and reflashes, preserving user settings. You must be connected to WiFi"
     },
     {
        "name" : "Reflash wrt3200acm Beta 14 RC 5 - keep keys",
        "sudo" : false,
        "cmd" : "[WRT3200ACM-FIRMWARE-UPGRADE-PRESERVE]",
        "confirm" : true,
        "description" : "Uploads the wrt3200acm firmware and reflashes, preserving user settings. You must be connected to WiFi"
     },
     {
        "name" : "Reflash wrt32x Beta 14 RC 5 - keep keys",
        "sudo" : false,
        "cmd" : "[WRT32X-FIRMWARE-UPGRADE-PRESERVE]",
        "confirm" : true,
        "description" : "Uploads the wrt32x firmware and reflashes, preserving user settings. You must be connected to WiFi"
     }
    ]
}
