{
    "name" : "For working routers",
    "host" : "192.168.10.1",
    "port" : 22,
    "user" : "root",
    "commands" : [ {
        "name" : "Update router",
        "sudo" : false,
        "cmd" : "ash /etc/update.ash",
        "confirm" : true,
        "description" : "Updates a working router with an internet connection. You must be connected to WiFi"
    }]
}
